body {
  margin: 0%;
  padding: 0%;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.6);
}

.nav-menu ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #dbd949;
}

#content {
  width: 100%;
  height: 100vh;
  background: url("/public/images/07.jpg") top center;
  background-size: cover;
  position: relative;
}

#content:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#content .container {
  position: relative;
  padding-top: 0px;
  text-align: center;
}

#intro h1 {
  margin: 0;
  margin-top: 20vh;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  line-height: 64px;
  color: #fff;
  font-family: "DosisSemiBold", sans-serif;
}

#intro h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;
  font-size: 24px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 20px;
}
.column-3 {
  flex: 33%;
  padding: 20px;
}
.about {
  margin-top: 3%;
  margin-left: 6%;
  margin-right: 6%;
}
.about h3 {
  font-weight: 700;
  font-size: 28px;
  font-family: "Dosis", sans-serif;
}
.about ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.about i {
  font-size: 28px;
  float: left;
  margin-left: 5px;
  color: #dbd949;
}

.about p {
  font-size: 15px;
  color: #848484;
  margin-left: 10px;
}

#footer {
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
#footer i {
  font-size: 28px;
  margin-left: 5px;
  color: #fff;
}
